# Ejemplo de configuracion para este proyecto iSafe
# Copia este archivo a un nuevo archivo llamado '.env' y sustituye los valores (#) por los tuyos. Suerte;)

DEBUG=True
SECRET_KEY=
DB_NAME=crm_db
DB_USER=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432